<html>
<head>
    <!--todo: local copy or leave as CDN?-->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>

    <style type="text/css">
        .error {
            color: red;
            font-weight: bold;
        }

        .img {
            max-height: 300px;
            max-width: 300px;
        }

        .serviceimg {
            max-height: 50px;
            max-width: 50px;
        }

        .entry {
            margin-bottom: 10px;
        }

        .arrow {
            text-decoration: none;
            font-size: larger;
        }

        div.spacer {
            height: 20px;
        }
    </style>
    <title>Kibosh Example</title>
</head>
<body>
<div class="container">

    {% if error %}
    <div class="error">
        <h3>Error</h3>
        {{error}}
    </div>
    {% endif %}

    <div class="row">
        <div class="eight columns">
            <h2>Kibosh "r/awww" Example</h2>
        </div>
        <div class="four columns">
            {% if not dbtype %}
                <img src="static/images/mysql.png" class="serviceimg"/>
            {% endif %}
            {% if not disktype %}
                <img src="static/images/minio.png" class="serviceimg"/>
            {% endif %}
        </div>
    </div>



    {% for item in entries %}
    <div class="row entry">
        <div class="one column">
            <a href="/vote_up/{{item.id}}" class="arrow">&#8607;</a>
            {{item.votes_net}}
            <a href="/vote_down/{{item.id}}" class="arrow">&#8609;</a>
        </div>
        <div class="three columns">
            <img src="/get-image/{{item.image_path}}" class="img"/>
        </div>
        <div class="eight columns">
            {{item.description}}
        </div>
    </div>
    {% endfor %}

    <div class="spacer"></div>
    <hr/>

    <h4>Upload New Entry</h4>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="row">
            <label for="description">Description</label>
            <input class="u-full-width" type="text" id="description" name="description">
        </div>
        <div class="row">
            <input type="file" id="upload_file" name="upload_file"/>
        </div>

        <input class="button-primary" type="submit">
    </form>

    <div class="row">
        Using this app is good for you, as
        <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0046362">proved by science!</a>
    </div>

</div>
</body>
</html>
